doctype html
head
  meta(charset='UTF-8')
  title Cadastro de Código Postal
  link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
  link(rel='stylesheet prefetch' href='https://unpkg.com/vuetify/dist/vuetify.min.css')
#app(style='padding: 0px 20px 0px 20px')
  v-form(ref='form' v-model='valid' lazy-validation='')
    v-app#inspire
      v-container(fluid='' grid-list-md='')
        h1.display-1 Cadastro de Código Postal

        v-layout(row='' wrap='')
          v-flex(d-flex='' xs12='' sm3='' md3='')
            v-text-field(mask='##.###-###' v-model='cep' label='CEP' :rules='[rules.required]' required='' @change='buscar_cep')
          v-flex(d-flex='' xs12='' sm3='' md3='')
            v-select(v-model='uf' label='UF' :items='iuf' item-text="nome" item-value="codigo")
          v-flex(d-flex='' xs12='' sm6='' md6='')
            v-autocomplete(:loading='lcidade' :items='icidade' item-text="nome" item-value="codigo" :search-input.sync='scidade' v-model='cidade' label='Cidade')
        v-layout(row='' wrap='')        
          v-flex(d-flex='' xs12='' sm5='' md5='')
            v-autocomplete(:loading='lbairro' :items='ibairro' item-text="nome" item-value="codigo" :search-input.sync='sbairro' v-model='bairro' label='Bairro')
          v-flex(d-flex='' xs12='' sm7='' md7='')
            v-autocomplete(:loading='lendereco' :items='iendereco' item-text="nome" item-value="codigo" :search-input.sync='sendereco' v-model='endereco' label='Endereço')
        v-layout(row='' wrap='')
          v-flex(d-flex='' xs12='' sm12='' md12='')
            v-text-field(v-model='complemento' label='Complemento')

      div

        v-btn(@click='limpar(true)')
          v-icon(left dark) note_add
          | Novo

        v-btn(color="success") 
          v-icon(left dark) cloud_upload
          | Gravar

        v-dialog(v-model='dialog' persistent='' width='500')
          template(v-slot:activator='{ on }')
            v-btn(color="error" v-on='on') 
              v-icon(left dark) delete
              |Apagar
              
          v-card
            v-card-title.headline.red.lighten-2 Exclusão de registro
            v-card-text
              | Você confirma a exclusão permanete do registro atual?
            v-card-actions
              v-spacer
              v-btn(color='green darken-1' flat='' @click='dialog = false') Cancelar
              v-btn(color='red darken-1' flat='' @click='dialog = false') Confirmar

        v-btn(color="info")
          v-icon(left dark) search
          | Localizar
      br
      br
script(src='https://unpkg.com/jquery/dist/jquery.min.js')
script(src='https://unpkg.com/vue/dist/vue.min.js')
script(src='https://unpkg.com/vuetify/dist/vuetify.min.js')
script(src='https://unpkg.com/vue-resource/dist/vue-resource.min.js')
script(src='js/cep.js')