html(lang='pt-br')
  head
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
    link(rel='stylesheet', href='https://unpkg.com/vuetify/dist/vuetify.min.css')
    ///link(rel='stylesheet', href='css/layout.css')

    script(src="https://unpkg.com/jquery/dist/")
    script(src='https://unpkg.com/babel-polyfill/dist/polyfill.min.js')
    script(src='https://unpkg.com/vue/dist/vue.min.js')
    script(src='https://unpkg.com/vuetify/dist/vuetify.min.js')
    script(src='https://unpkg.com/vue-resource/dist/vue-resource.min.js')

    block cabecal
  
  body
    block content
